doctype html
html(lang="en")
    head
        <!-- General SEO -->
        <title>#{metaTitle}</title>
        <meta name="author" content="#{metaAuthor}">
        <meta name="description" content="#{metaDescription}">
        <meta charset="UTF-8">
        <!-- Indexing / Spiders -->
        <meta name="googlebot" content="all">
        <meta name="bingbot" content="all">
        <meta name="robots" content="all">
body()
    include /views/index.html
    script(src='/js/client.js' defer)
    link(rel='stylesheet', href='/css/index.css')
