* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272744;
}

#chat {
    margin: 1em;
    height: 40%;
    width: 40%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #8b6d9c;
}

#messages-container {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #c69fa5;
}

#input-container {
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#message-input {
    width: 60%;
}

#characters-left {
    color: #bddeef;
}

#settings {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    color: #304383;
    font-weight: bold;
}

input {
    padding: 0.25em;
    border: 1px solid #bddeef;
    background-color: #304383;
    outline: none;
    color: #bddeef;
}

input:focus {
    background-color: #272744;
}

button {
    padding: 0.25em;
    border: 1px solid #bddeef;
    background-color: #304383;
    outline: none;
    color: #bddeef;
}

button:hover {
    cursor: pointer;
    background-color: #272744;
}

label {
    margin-top: 0.5em;
    color: #bddeef;
    padding-right: 0.5em;
}

#repository-link-container {
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;

    border-left: 5em solid transparent;
    border-bottom: 5em solid transparent;
    border-right: 5em solid #bddeef;
    border-top: 5em solid #bddeef;
}

#repository-link-image {
    position: absolute;
    top: -4em;
    right: -4em;
    width: 4em;
    height: 4em;
}

#repository-link-image:hover {
    cursor: pointer;
    top: -4.5em;
    right: -4.5em;
    width: 5em;
    height: 5em;
}

#repository-link-image path {
    fill: #272744;
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8b6d9c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #304383;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1b2546;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8fa6b4;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bddeef;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bddeef;
}